/* Set a background image by replacing the URL below */
body {
    background: url('../assets/landscape-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.navbar, .dropdown-menu {
    background-color: #62B200;
}

main {
    position: relative;
    top: 100px;
}

section {
    background-color: white;
}

p {
    font-size: 22px;
}

.jumbotron {
    background-color: white;
}

 h1.app-title {
    text-align: center;
    margin-top: 1.25em;
}

.navbar-nav.mr-auto li a {
    color: white;
}

#map {
    height: 100%;
    margin-top: 7em;
  }