h1.app-title {
    text-align: center;
    margin-top: 1.25em;
}

@media screen and (max-width: 565px) {
    h1.app-title {
        text-align: center;
        margin-top: 2em;
    }
}

.jumbotron {
    background-color: rgb(255, 255, 255);
    height: 200px;
}

main {
    position: relative;
    top: 100px;
}

p {
    font-size: 22px;
}

section {
    background-color: rgba(255, 255, 255, 0);
}