section {
    background-color: white;
  }

.img-fluid {
    box-shadow: 0px 0px 10px 2px grey;
}

.jumbotron {
    background-color: white;
}

main {
    position: relative;
    top: 100px;
}

p {
    font-size: 22px;
}

h1.app-title {
    text-align: center;
    margin-top: 1.25em;
}