.navbar, .dropdown-menu {
    background-color: #62B200;
}

.fixed-top {
    padding-top: 0;
}

.navbar-nav.mr-auto li a {
    color: white;
}

#img {
    height: 70px;
}

.navbar-brand {
    height: 65px;
}
