section {
  background-color: white;
}

.jumbotron {
  background-color: white;
}

main {
  position: relative;
  top: 100px;
}

p {
  font-size: 22px;
}

h1.app-title {
  text-align: center;
  margin-top: 1.25em;
}

#button {
  margin-top: 5px;
}