<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="app-title">Create a Carpool</h1>
  </div>
</header>

<main>
  <section class="container">

    <!-- User logged in -->
    <div [hidden]="hidden">
      <flash-messages></flash-messages>
      <button class="btn btn-danger" (click)="userService.signOut()">Log Out</button>
      <form [formGroup]="carpoolForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Carpool name</label>
          <input
            class="form-control"
            id="carpoolName"
            type="text"
            name="carpoolName"
            formControlName="carpoolName"
            aria-describedby="carpool name"
            placeholder="Ex: ''My Cool Carpool''"
          />
        </div>
  
        <div class="form-group">
          <label for="Entering starting point">Starting point</label>
          <input
            class="form-control"
            id="startingPoint"
            type="text"
            name="startingPoint"
            formControlName="startingPoint"
            aria-describedby="starting point"
            placeholder="Ex: ''My house''"
          />
        </div>
        <div class="form-group">
          <label for="Entering destination">Destination</label>
          <input
            class="form-control"
            id="destination"
            type="text"
            name="destination"
            formControlName="destination"
            aria-describedby="destination"
            placeholder="Ex: ''My workplace''"
          />
        </div>
  
        <div class="form-group form-check" id="size">
          <label for="Entering destination">Scheduled days <small class="form-text text-muted">Type out each day the carpool will be active</small></label>

          <input
            class="form-control"
            id="scheduledDays"
            type="text"
            name="scheduledDays"
            formControlName="scheduledDays"
            aria-describedby="carpool date"
            placeholder="Ex: ''Monday, Wednesday, Friday''"
          />
          
        </div>
        <div class="form-group">
          <label for="Time to leave">Time to Leave</label><br>
          <input
            class="form-control"
            id="leaveTime"
            type="text"
            name="leaveTime"
            formControlName="leaveTime"
            aria-describedby="time carpool is leaving"
            placeholder="Ex: ''10:00 AM''"
          />
        </div>
        <div class="form-group">
          <label for="Time to arrive home">Time to Return</label><br>
          <input
          class="form-control"
          id="returnTime"
          type="text"
          name="returnTime"
          formControlName="returnTime"
          aria-describedby="time carpool is returning"
          placeholder="Ex: ''5:00 PM''"
        />
        </div>
        <div class="form-group-inline">
          <label for="Entering type of car">Type of Car</label>
          <input
            class="form-control"
            id="make"
            type="text"
            name="make"
            aria-describedby="make"
            formControlName="make"
            placeholder="Make"
          />
          <input
          class="form-control"
          id="model"
          type="text"
          name="model"
          aria-describedby="model"
          formControlName="model"
          placeholder="Model"
          />
          <input
          class="form-control"
          id="year"
          type="text"
          name="year"
          aria-describedby="year"
          formControlName="year"
          placeholder="Year"
          />
        </div>
        <button type="submit" class="btn btn-primary" id="button">Submit</button>
      </form>
    </div>

    <!-- User NOT logged in -->
    <div [hidden]="!hidden">
      <h3>Please login to create a carpool</h3>
  
      <button (click)="userService.googleSignin()">
        <i class="fa fa-google"></i> Log in with Google
      </button>
    </div>
  </section>
</main>