<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="app-title">Create a Carpool</h1>
  </div>
</header>

<main>
  <section class="container">

    <!-- User logged in -->
    <div [hidden]="hidden">
      <flash-messages></flash-messages>
      <form [formGroup]="carpoolForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Carpool name</label>
          <input
            class="form-control"
            id="carpoolName"
            type="carpoolName"
            name="carpoolName"
            formControlName="carpoolName"
            aria-describedby="carpool name"
            placeholder="Enter the name of the carpool..."
          />
        </div>
  
        <div class="form-group">
          <label for="Entering starting point">Starting point</label>
          <input
            class="form-control"
            id="startingPoint"
            type="startingPoint"
            name="startingPoint"
            formControlName="startingPoint"
            aria-describedby="starting point"
            placeholder="Enter the starting point..."
          />
        </div>
        <div class="form-group">
          <label for="Entering destination">Destination</label>
          <input
            class="form-control"
            id="destination"
            type="destination"
            name="destination"
            formControlName="destination"
            aria-describedby="destination"
            placeholder="Enter the destination..."
          />
        </div>
  
        <div class="form-group form-check" id="size">
          <label for="Entering destination">Scheduled days <small class="form-text text-muted">When will the carpool be active?</small></label>
          
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="sunday" />
            <label class="custom-control-label" for="sunday">Sunday</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="monday" />
            <label class="custom-control-label" for="monday">Monday</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tuesday" />
            <label class="custom-control-label" for="tuesday">Tuesday</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="wednesday" />
            <label class="custom-control-label" for="wednesday">Wednesday</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="thursday" />
            <label class="custom-control-label" for="thursday">Thursday</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="friday" />
            <label class="custom-control-label" for="friday">Friday</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="saturday" />
            <label class="custom-control-label" for="saturday">Saturday</label>
          </div>
        </div>
        <div class="form-group">
          <label for="Time to leave">Time to Leave</label><br>
          <select id="timeToLeaveHour" class="form-control-inline">
            
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
          <select id="timeToLeaveMinute" class="form-control-inline">
            <option selected>00</option>
            <option>05</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>35</option>
            <option>40</option>
            <option>45</option>
            <option>50</option>
            <option>55</option>
          </select>
          <select id="timeToLeaveAMPM" class="form-control-inline">
            <option selected>AM</option>
            <option>PM</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Time to arrive home">Time to Return</label><br>
          <select id="timeToArriveHomeHour" class="form-control-inline">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
          <select id="timeToArriveHomeMinute" class="form-control-inline">
            <option selected>00</option>
            <option>05</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>35</option>
            <option>40</option>
            <option>45</option>
            <option>50</option>
            <option>55</option>
          </select>
          <select id="timeToArriveHomeAMPM" class="form-control-inline">
            <option selected>AM</option>
            <option>PM</option>
          </select>
        </div>
        <div class="form-group-inline">
          <label for="Entering type of car">Type of Car</label>
          <input
            class="form-control"
            id="make"
            type="make"
            name="make"
            aria-describedby="make"
            formControlName="make"
            placeholder="Make"
          />
          <input
          class="form-control"
          id="model"
          type="model"
          name="model"
          aria-describedby="model"
          formControlName="model"
          placeholder="Model"
          />
          <input
          class="form-control"
          id="year"
          type="model"
          name="model"
          aria-describedby="year"
          formControlName="model"
          placeholder="Year"
          />
        </div>
        <button type="submit" class="btn btn-primary" id="button">Submit</button>
      </form>
    </div>

    <!-- User NOT logged in -->
    <div [hidden]="!hidden">
      <h3>Please login to create a carpool</h3>
  
      <button (click)="userService.googleSignin()">
        <i class="fa fa-google"></i> Log in with Google
      </button>
    </div>
  </section>
</main>